.Poll{
    display: flex;
    flex-direction: column;
    border: 5px solid #ffe227;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.25s;
    background-color: white;
}
.Poll-qs-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.Poll-qs{
    margin: 60px 0;
}

.Poll-link-cont{
    text-decoration: none;
    border-top: 1px solid #ffe227;
    font-size: 45px;
}

.Poll-link{
    margin: 15px;
}

.Poll-link-cont:hover{
    color: #4D375D;
    background-color: #ffe227;
}